.eventGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
}

.eventCard {
    height: 400px;
    width: 270px;
}

.eventImg {
    width: 270px;
    height: 320px;
    border-radius: 10px;
}

.eventName {
    position: relative;
    /* float: left; */
    bottom: 80px;
    /* left: 95px; */
    width: 270px;
    height: 80px;
    padding: 20px;
    background-color: rgb(42, 184, 61);
    border-radius: 10px;
}